.App {
  text-align: center;
  height: 100%;
  background: #cccccc;
  font-size: 28px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form input{
  width: 140px;
  padding: 15px 25px;
  font-size: 28px;
  text-align: center;
}

.form p{
  width: 164px;
  height: 36px;
  padding: 15px;
  font-size: 18px;
  background: rgba(0,0,0,0.3);
  margin-top: 7px;
  color: #ffffff;
  line-height: 36px;
}